body {
    background-color: black;
    font-family: Arial, sans-serif;
}

#chat-box {
    width: 700px;
    height: 500px;
    overflow-y: auto;
    border: 1px solid #828181;
    margin-bottom: 10px;
    background: rgb(50, 52, 52);
    color: #ffffff;
    box-shadow: 0 0 10px rgba(244, 249, 249, 2); 
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%) translateY(50%);
    border-radius: 9px;
}

#message-input {
    width: 600px;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(65, 67, 64);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid rgb(132, 130, 130);
    user-select: none;
    outline: none;
    color: white;
}


.SendPos {
    position: absolute;
    right: 50%;
    bottom: 2%;
    transform: translateX(50%) ;
}