body {
    background-color: black;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#chat-box {
    width: 300px;
    height: 600px;
    overflow-y: hidden;
    border: 1px solid #828181;
    margin-bottom: 10px;
    background: rgb(13, 14, 14);
    color: #ffffff;
    box-shadow: 0 0 10px rgb(119, 117, 117);
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%) translateY(50%);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;

    
}


#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    
}

#message-input {
    width: 100%;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(75, 77, 75);
    border: none;
    outline: none;
    color: rgb(241, 241, 241);
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(59, 58, 58);
    overflow-y: hidden;
}



.SendPos {
    width: 100%;
    box-sizing: border-box;
}


.topnav{
    width: 298px;
    height: 100px;
    border: 1px solid #828181;
    margin-bottom: 250px;
    background: rgb(39, 39, 39);
    position:absolute;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%) translateY(50%);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
    outline: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0 ;
    overflow-y: hidden;

}

/* Custom scrollbar styles */
#messages::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
    
}

#messages::-webkit-scrollbar-track {
    background: #333; /* Track color */
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar color on hover */
}

.context-menu {
    position: fixed;
    background: rgb(92, 90, 90);
    border: 1px solid #080808;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's above other elements */
}

.context-menu .alternative {
    cursor: pointer;
    padding: 5px;
}

.context-menu .alternative:hover {
    background-color: #383838;
    border-radius: 8px;
}

#messages {
    min-height: 100px; 
    /* Set a minimum height for the chat box */
}

.report-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #585858;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999; /* Ensure it appears above other elements */
}

.profile_pic {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('your_default_image_url') center center/cover, rgb(92, 90, 90); 
    border: 1px solid #08080800;
    padding: 0.1px; 
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    z-index: 1000;
    cursor: pointer; /* Add cursor pointer to indicate clickability */
    overflow-y: hidden;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-top: 30% solid transparent;
    margin-top: 9px;
    margin-left: 20px;
    color: rgb(222, 224, 226);
    cursor: pointer;
    font-size: 20px;
   
}

.user_name {
    display: flex;
    justify-content: center;
    margin-left: 40%;
    align-items: center;
    width: 20%;
    font-size: 12px;
    cursor: pointer;
    overflow-y: hidden;
}

.info_text {
    margin-top: 70px;
    color: #828181;
    border-radius: 50%; 
    width: 100%; 
    bottom: 0;
    margin-bottom: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    z-index: -4;
    overflow-y: hidden;
}


.main_menu {

    width: 300px;
    height: 600px;
    overflow-y: auto;
    border: 1px solid #828181;
    margin-bottom: 10px;
    background: rgb(13, 14, 14);
    color: #ffffff;
    box-shadow: 0 0 10px rgb(119, 117, 117);
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%) translateY(50%);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    transition: left 0.5s ease; 
   
}

.header {
    width: 100%; /* Make the header take up the full width */
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* WebKit browsers */
.header::-webkit-scrollbar {
    height: 1px;
    margin-top: -10px; 
}

.header::-webkit-scrollbar-track {
    background: #3f3d3d0f; 
}

.header::-webkit-scrollbar-thumb {
    background: #88888827; 
    border-radius: 5px; 
}

.header::-webkit-scrollbar-thumb:hover {
    background: #55555500; 
}

/* Firefox */
.scroll-container {
    scrollbar-width: 1px;
    scrollbar-color: #00000034 #72707014; /* Thumb and track colors */
}

/* General styling */
.scroll-container {
    display: flex; /* Arrange the circles in a row */
    width: max-content; /* Adjust to fit all the circles */
}

.header .circle {
    width: 50px;
    height: 50px;
    background-color: #222121;
    border-radius: 50%;
    margin: 6px; /* Add some space between the circles */
    background-image: url('bilder/hyztax.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.search {
    width: 50%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #b4b4b4;
    margin-left: 23%;
}
.search input {
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #11111100;
    outline: none;
    color: white;
    text-align: center;
    margin-bottom: -20px;
}



.chat-list {
    padding: 10px;
}
.chat-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #272323;
    cursor:pointer;
    
}
.chat-item .avatar {
    width: 50px;
    height: 50px;
    background-color: #666;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('bilder/hyztax.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
}
.chat-item .message {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
}
.chat-item .time {
    color: rgb(123, 119, 119);
    font-size:smaller;
}

.space{
margin-top: 15%;
z-index: 3;
}

.name {
    text-align: center;
}

.chat-list {
    max-height: 360px; /* Adjust the height as needed */
    overflow-y: auto;
}

/* Scrollbar styles */
.chat-list::-webkit-scrollbar {
    width: 0.1px;
    border-radius: 10px;

}

.chat-list::-webkit-scrollbar-track {
    background: #0f0808;
    border-radius: 10px;
}

.chat-list::-webkit-scrollbar-thumb {
    background: #050505;
    border-radius: 10px;
}

.chat-list::-webkit-scrollbar-thumb:hover {
    background: #00000000;
   
}

/* Scrollbar for Firefox */
.chat-list {
    scrollbar-width: thin;
    scrollbar-color: #3a383877 #f1f1f100;
   
}

/* nytt inhåll här*/

.bottomnav {
    width: 100%;
    background-color: #000000;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.min_profil {
    background-image: url('bilder/minProfil.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 220px;
    bottom: 20px;
    cursor: pointer;
}


.min_chat {
    background-image: url('bilder/chat.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 125px;
    bottom: 18px;
    cursor: pointer;
}

.logs{
    background-image: url('bilder/logs.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 36px;
    bottom: 21px;
    cursor: pointer;
}

.profile {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.profile .name {
    font-size: 14px;
    font-weight: bold;
}

#popup {
    width: 299px;
    height: 600px;
    border: 1px solid #828181;
    margin-bottom: 10px;
    background: rgb(13, 14, 14);
    color: #ffffff;
    box-shadow: 0 0 10px rgb(119, 117, 117);
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%) translateY(50%);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    transition: left 0.5s ease; 
   overflow-x:hidden;
   
}

#popup-overlay {
    content: hidden;
   
}

#logsPopup{
    width: 299px;
    height: 600px;
    border: 1px solid #828181;
    margin-bottom: 10px;
    background: rgb(13, 14, 14);
    color: #ffffff;
    box-shadow: 0 0 10px rgb(119, 117, 117);
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%) translateY(50%);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    transition: left 0.5s ease; 
   overflow-x:hidden;
}


 
.log_box {
    height: 250px;
    width: 230px;
    background-color: rgb(35, 33, 33);
    margin-left: 8.4%;
    border-radius: 12px;
    position: absolute;
    margin-top: 40%;
    box-shadow: 0 0 10px 10px black; /* Adjust the values as needed for the desired glow effect */
    outline: 2px solid black; /* Adjust the width as needed */
}


 .log_text {
    margin-top: 50%;
    margin-left:-15px;
    content: center;
    width: 300px;
    font: bold;
    text-align: center;
    size-adjust: auto;
    position: relative;
 }

 .welcome_msg {
    position: absolute;
    width: 130px;
    height: 20px;
    margin-top: 120px;
    margin-left: -1px;
    background-color: rgb(79, 79, 79);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: rgb(255, 255, 255);
    font-size: 12px;
}
