* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
body {
  background-color: black;
  height: 100%;
  font-family: Arial, sans-serif;
  flex-direction: column;
  justify-content: center;
  height: 96.4vh;
  margin: 0;
  background-image: url("bilder/image.png");
  z-index: -1;
  overflow: hidden;

}

@media only screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
    overflow-y: visible;
    background-image: url('bilder/grey.jpg');
  }
}


  
.site_name {
  margin-top: 30px;
  font-size: xxx-large;
  text-align: center;
  font-family: Lucida Sans;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 3px rgb(1, 1, 1);
  font-family:verdana;
}


.Versions {
  position: absolute;
  bottom: 15px;
  left: 97%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .Versions{
    position:absolute;
    bottom: 15px;
    left: 94%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #fff;
   }
}

.undertext {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 3px rgb(0, 0, 0);
  font-family:verdana;
}
.Button_Style {
  display: flex; /* 'absolute' is not a valid value for display, assuming flex is intended */
  flex-direction: column; /* added 'solid' to outline */
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 12%;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4),
    rgba(43, 172, 97, 0) 90%
  );
  transition: all 0.5s ease;
  text-align: center;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.253);
  color: rgb(179, 185, 183);
  text-shadow: 0 0px 5px rgb(0, 0, 0);
  font-family: verdana;
  margin: 50px 0;
}

.Button_Style .column-image {
  display: block;
}

.Button_Style:hover {
  transform: scale(1.04) translateY(-2px) translateX(calc(-50% + 7px) );
  box-shadow: 0 0 20px 2px rgba(173, 171, 171, 0.507);
}
.Button_Style:active {
  transform: scale(0.96)  translateX(calc(-50% - 7px) );
  box-shadow: 0 0 20px 2px rgba(173, 171, 171, 0.507);
}

.column-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 20px;
}



.column-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.column-popup img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .Button_Style{
    font-size: 12px;
    width: 60%;
  }    
  .LogoBtn {
    transform: scale(1.2);
  }
}

@media (max-width: 480px) {
  .Button_Style{
    font-size: 10px;
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  animation: slideIn 0.5s forwards;
}

@media only screen and (max-width: 600px) {
  .Flex-For-Btns  {
    display: none;
  }
}

.modal-content {
  outline: 1.3px solid #2c2a2a;
  position: fixed;
  bottom: -300px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  left: 50%;
  height: max-content;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 17px;
  width: max-content;
  max-width: 800px;
  animation: slideUp 0.5s forwards;
  box-shadow: 0 0 20px 5px rgba(177, 226, 226, 0.733);
}
.discord-iframe {
  position: absolute;
  top: 40px;
  left: -140px;
  width: 350px;
  height: 450px;
  z-index: 2;
}

.FlexForModal {
  display: flex;
  flex-direction: row;
}
.discord-iframe iframe {
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 2;
}
.discord-iframe {
  transform: translateX(50%);
  width: 350px;
  height: 450px;
}
@media (max-width: 960px) {

  .discord-iframe {
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
  .FlexForModal {
    flex-direction: column;
  }
  .modal-content {
    width: 45%;
  }
}


.game {
  text-align: center;
  margin: 10px;
}

.game img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  transition: all 0.4s ease;
}

.game img:hover {
  transform: scale(1.05);
}


@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    bottom: -300px;
  }

  to {
    bottom: 5%;
  }
}

body, h1, h2, p, img {
  margin: 0;
  padding: 0;
}

.modal-content h2 {
  color: white;
}
#SnapChat-btn {
  transition: all 0.4s ease;
}

#SnapChat-btn:hover {
  transform: scale(1.04) translateY(-3px);
}

#Tiktok-btn {
  transition: all 0.4s ease;
}

#Tiktok-btn:hover {
  transform: scale(1.04) translateY(-3px);
}

#Youtube-btn {
  transition: all 0.4s ease;
}

#Youtube-btn:hover {
  transform: scale(1.04) translateY(-3px);
}

#Discord-btn {
  transition: all 0.4s ease;
}

#Discord-btn:hover {
  transform: scale(1.04) translateY(-3px);
}




body {
  background-size: cover;
  background-attachment: fixed;
}

.tt_embed{
  display: none;
}
.Flex-For-Btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -195%;
  
}


.Center-Anchors {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
  .Center-Anchors {
    color: #fff !important;
  }
}


.länk a, .länk a:visited {
  margin: 10px 80px;
  color: white !important;
}

.länk a {
  text-decoration: none;
}
.länk:hover a {
  text-decoration: underline;
}
.Position-For-Btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1px;
}
.LogoBtnPressed {
  transform: rotate(180deg);
  margin-right: 160px;
}
@media only screen and (max-width: 600px) {
  .LogoBtnPressed {
    display: none;
  }
}


.ShowOnHover {
  width: 200px;
  height: 50px;
  position: absolute;
  right: -110px;
  bottom: 50%;
  transform: translateY(50%);
  transition: all 0.56s ease;
  z-index: 10;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(185, 179, 179);
  cursor: pointer;
}


.Logo {
  font-size: 40px;
  font-family: 'Times New Roman';
  font-weight: 560;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 600px) {
  .Logo {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .Position-For-Btns  {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .ShowOnHover{
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .body {
    position: static;
    overflow: hidden;
  }
}




.Logo:hover {
  color: #cfcccc;
  transform: scale(1.01);
}


.länk a:visited {
  color: white;
}
.ScrollAble {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 190px);
  width: 50%;
  height:60%;
  color: rgb(176, 181, 179);
  text-shadow: 0 0px 5px rgb(107, 111, 110);
  font-family: verdana;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(24, 23, 23, 0.8);
  border: 0px solid rgb(35, 36, 36);
  box-shadow: 0 0 10px 5px rgba(167, 167, 167, 0.37);
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .ScrollAble {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    width: 90%;
    color: rgb(176, 181, 179);
    text-shadow: 0 0px 5px rgb(107, 111, 110);
    font-family: verdana;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(24, 23, 23, 0.8);
    border: 0px solid rgb(35, 36, 36);
    box-shadow: 0 0 10px 5px rgba(167, 167, 167, 0.37);
    border-radius: 15px;
  }
}


.Container {
  width: 80%;
  margin: 0 12%;
  margin-top: 50px;
}



.ScrollAble::-webkit-scrollbar {
  background-color: rgb(71, 70, 70);
  border-radius: 8px;
 
}
.ScrollAble::-webkit-scrollbar-thumb {
  background-color:rgb(36, 34, 34);
  border-radius: 8px;
}
.ScrollAble::-webkit-scrollbar-thumb:hover {
  background-color: rgb(58, 55, 55);
}


.html_länk {
  color: white;
  position: fixed;
  top: 0;
  margin-top: 30px;
  left: 0;
  margin-left: 30px;
  padding: 10px;
  background-color: rgba(58, 55, 55, 0.397);
  border-radius: 10px;
  font-weight: 400;
  text-decoration: none; 
}

.tillbaks {
  position: fixed;
  margin-top: -30px;
  margin-left: 45px;
  padding: 10px;
  background-color: rgba(39, 37, 37, 0.397);
  border-radius: 12px;
}
.tillbaks a {
  
  color: white !important;
}

@media only screen and (max-width: 600px) {
  .tillbaks {
    position: fixed;
    margin-top: -20px;
    margin-left: 25px;
    padding: 10px;
    background-color: rgba(39, 37, 37, 0.397);
    border-radius: 12px;
    width:auto;
  }
}


@media only screen and (max-width: 600px) {
  .tillbaks a:visited {
    color: white;
  }
}
