* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
body {
  background-color: black;
  height: 100%;
  font-family: Arial, sans-serif;
  flex-direction: column;
  justify-content: center;
  height: 96.4vh;
  margin: 0;
  background-image: url('https://cdn.discordapp.com/attachments/1228262743090528310/1235943303237734480/banner.site.jpg?ex=66363566&is=6634e3e6&hm=309bfd0cf1a6f78a9379369f471bb6b66cae07a97ba9fbfda1cc3a292972191c&');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
blockquote{
  overflow:auto hidden;
}
@media (min-width: 769px) {
  body {
    overflow: hidden;
  }
  .hello_text {
    display: block;
  }
} 
@media only screen and (max-width: 468px) {
  body {
    flex-direction: column;
    justify-content: center;
    height: 96.4vh;
    margin: 0;
    background-image: url('https://cdn.discordapp.com/attachments/1228262743090528310/1235943303237734480/banner.site.jpg?ex=66363566&is=6634e3e6&hm=309bfd0cf1a6f78a9379369f471bb6b66cae07a97ba9fbfda1cc3a292972191c&');
    background-size: stretch;
    background-repeat: no-repeat;
    z-index: -1;
  }
} 

  
.site_name {
  margin-top: 30px;
  font-size: xxx-large;
  text-align: center;
  font-family: Lucida Sans;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 3px rgb(1, 1, 1);
  font-family:verdana;
}


.hello_text {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #fff;
}

.undertext {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 3px rgb(0, 0, 0);
  font-family:verdana;
}

.Button_Style {
  display: flex;
  flex-direction: column;
  outline: 1px #fff;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 12%;
  padding: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4),
    rgba(43, 172, 97, 0) 90%
  );

  transition: all 0.5s ease;
  text-align: center;
  margin: 60px auto 14px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.253);
  color: rgb(179, 185, 183);
  text-shadow: 0 0px 5px rgb(0, 0, 0);
  font-family: verdana;
  transform: scale(1);
}

.column-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 20px;
}

.Button_Style .column-image {
  display: block;
}

.Button_Style:hover {
  transform: scale(1.04) translateY(-2px);
  box-shadow: 0 0 20px 2px rgba(173, 171, 171, 0.507);
}

.column-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.column-popup img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .Button_Style{
    font-size: 12px;
    width: 60%;
  }    
  .LogoBtn {
    transform: scale(1.2);
  }
}

@media (max-width: 480px) {
  .Button_Style{
    font-size: 10px;
  }
}


.discord-iframe {
  margin-top: -350px;
  margin-left: 50px;
  width: 350px;
  height: 500px;
  z-index: 2;

}

.discord-iframe iframe {
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .discord-iframe {
    margin-top: 0;
    margin-left: 21px;
    z-index: 2;
    justify-content: enter;
    align-items: center;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  animation: slideIn 0.5s forwards;
}


.modal-content {
  outline: 1.3px solid #2c2a2a;
  position: fixed;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 17px;
  width: 80%;
  max-width: 800px;
  animation: slideUp 0.5s forwards;
  box-shadow: 0 0 20px 5px rgba(177, 226, 226, 0.733);
}

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    bottom: -300px;
  }

  to {
    bottom: 5%;
  }
}

body, h1, h2, p, img {
  margin: 0;
  padding: 0;
}

.modal-content h2 {
  color: white;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game {
  text-align: center;
}

.game img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  transition: all 0.4s ease;
}

.game img:hover {
  transform: scale(1.05);
}


#SnapChat-btn {
  transition: all 0.4s ease;
}

#SnapChat-btn:hover {
  transform: scale(1.04) translateY(-3px);
}

#Tiktok-btn {
  transition: all 0.4s ease;
}

#Tiktok-btn:hover {
  transform: scale(1.04) translateY(-3px);
}

#Youtube-btn {
  transition: all 0.4s ease;
}

#Youtube-btn:hover {
  transform: scale(1.04) translateY(-3px);
}

#Discord-btn {
  transition: all 0.4s ease;
}

#Discord-btn:hover {
  transform: scale(1.04) translateY(-3px);
}




body {
  background-size: cover;
  background-attachment: fixed;
}

.tt_embed{
  display: none;
}
.Flex-For-Btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -195%;
}


.Center-Anchors {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.länk {
  margin: 10px 80px;
  color: rgb(246, 247, 247);
}
.länk a {
  text-decoration: none;
}
.länk:hover a {
  text-decoration: underline;
}
.Position-For-Btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1px;
}
.LogoBtnPressed {
  transform: rotate(180deg);
  margin-right: 160px;
}

.ShowOnHover {
  width: 200px;
  height: 50px;
  position: absolute;
  right: -110px;
  bottom: 50%;
  transform: translateY(50%);
  transition: all 0.56s ease;
  z-index: 10;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(185, 179, 179);
  cursor: pointer;
}
.Logo {
  font-size: 40px;
  font-family: 'Times New Roman';
  font-weight: 560;
  transition: all 0.2s ease;
}

.Logo:hover {
  color: #cfcccc;
  transform: scale(1.01);
}


.länk a:visited {
  color: rgb(242, 243, 243);
}
.ScrollAble {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 190px);
  width: 50%;
  color: rgb(176, 181, 179);
  text-shadow: 0 0px 5px rgb(107, 111, 110);
  font-family: verdana;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgb(35, 36, 36);
  box-shadow: 0 0 10px 5px rgb(30, 31, 31);
  border-radius: 15px;
}
.Container {
  width: 80%;
  margin: 0 12%;
  margin-top: 50px;
}

.ScrollAble::-webkit-scrollbar {
  background-color: rgb(71, 70, 70);
  border-radius: 8px;
 
}
.ScrollAble::-webkit-scrollbar-thumb {
  background-color:rgb(36, 34, 34);
  border-radius: 8px;
}
.ScrollAble::-webkit-scrollbar-thumb:hover {
  background-color: rgb(58, 55, 55);
}
